---
- name: update repo-cache for Debian/Ubuntu
  become: true
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when:
    ansible_os_family == 'Debian'


- name: Install requirements to add packages
  become: true
  apt:
    package:
      - debian-goodies
      - apt-dater-host
      - apt-transport-https
    state: present

- name: add eth zurich apt (main)
  become: true
  apt_repository:
    repo: deb https://debian.ethz.ch/debian/ {{ ansible_distribution_release }} main
    state: present
    mode: 0644
  when:
    - not base__pkg_non_free_firmware | bool
    - not base__pkg_contrib | bool

- name: add eth zurich apt (main non-free)
  become: true
  apt_repository:
    repo: deb-src https://debian.ethz.ch/debian/ {{ ansible_distribution_release }} main non-free
    state: present
    mode: 0644
  when:
    - base__pkg_non_free_firmware | bool
    - not base__pkg_contrib | bool

- name: add eth zurich apt (main contrib non-free)
  become: true
  apt_repository:
    repo: deb-src https://debian.ethz.ch/debian/ {{ ansible_distribution_release }} main contrib non-free
    state: present
    mode: 0644
  when:
    - base__pkg_non_free_firmware | bool
    - base__pkg_contrib | bool
