name: Ansible check centos:latest

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: ansible check with ubuntu:latest
      uses: roles-ansible/check-ansible-centos-latest-action@master
      with:
        targets: "./"
